# Computational and Numerical Methods
## Group 16
### Set 13 (29-10-2018): Numerical Stability and Implicit Methods
#### Vidhin Parmar   201601003
#### Parth Shah      201601086

<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
k = -100
f = lambda n,h : (1 + (k*h))**n
x = 0.2
fanal = np.exp(-100*0.2) 
arr = []
for h in [0.1, 0.05, 0.02, 0.01, 0.001]:
    arr.append([h, f(0.2/h, h), f(0.2/h, h) - fanal])
df = pd.DataFrame(data = arr, columns = ["h", "y(x)", "Error"])
df

       h          y(x)         Error
0  0.100  8.100000e+01  8.100000e+01
1  0.050  2.560000e+02  2.560000e+02
2  0.020  1.000000e+00  1.000000e+00
3  0.010  0.000000e+00 -2.061154e-09
4  0.001  7.055079e-10 -1.355646e-09

In [3]:
k = -100
f = lambda n,h : (1 - (k*h))**(-n)
x = 0.2
arr = []
for h in [0.1, 0.05, 0.02, 0.01, 0.001]:
    arr.append([h, f(0.2/h, h), f(0.2/h, h) - fanal])
df = pd.DataFrame(data = arr, columns = ["h", "y(x)", "Error"])
df

       h          y(x)         Error
0  0.100  8.264463e-03  8.264461e-03
1  0.050  7.716049e-04  7.716029e-04
2  0.020  1.693509e-05  1.693303e-05
3  0.010  9.536743e-07  9.516132e-07
4  0.001  5.265783e-09  3.204630e-09

We see that the forward Euler method is not stable as the values are not converging but wavering up and down the analytical solution.
The backward Euler method is stable as the values converge as the h decreases.